{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'weather_forecast_for_%city_name%_%country_code%' | trans({
        '%city_name%': cityName,
        '%country_code%': countryCode,
    }) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ 'weather_forecasts.here_are_the_weather_forecasts_for_%city_name%_%country_code%' | trans({
            '%city_name%': cityName,
            '%country_code%': countryCode,
        }) }}</h1>
{% endblock %}